/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-image: url('/static/images/sky-background.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
}

/* Background Overlay */
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
}

/* Container */
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* Logo Section */
.logo {
    margin-bottom: 20px;
}

.logo-img {
    width: 140px;
    height: 140px;
}

.logo-text {
    font-family: 'Overpass', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

/* Form */
.form-container {
    text-align: left;
}

.form-container h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Input Fields */
.input-group {
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.input-group input:focus {
    border-color: #007BFF;
}

/* Button */
.register-btn {
    font-family: 'Overpass', sans-serif;
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #0056b3;
}

.login-btn {
    font-family: 'Overpass', sans-serif;
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3;
}