* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-image: url('/static/images/sky-background.jpg'); /* Imagen de fondo opcional */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.weather-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#city-search-form {
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #007acc;
}

.weather-info h1 {
    font-size: 32px;
    font-weight: bold;
}

.weather-info h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
}

.weather-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.weather-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.detail-item h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.detail-item p {
    font-size: 16px;
    font-weight: 400;
}
